In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
Aztech = pd.read_csv("Aztech TVs.csv")

In [6]:
Aztech['Price'] = Aztech['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [61]:
Aztech50 = Aztech[Aztech["TVs"].str.contains("75")]

In [63]:
Aztech50 = Aztech50.drop([7, 18, 38, 41, 42, 51, 58, 78, 84])

In [64]:
Aztech50['Price'].mean()

1199.0

In [66]:
Aztech50['Price'].min()

999.0

In [67]:
Aztech50['Price'].max()

1299.0

In [68]:
Buton = pd.read_csv("Buton TVs.csv")

In [69]:
Buton['Price'] = Buton['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [70]:
Buton50 = Buton[Buton["TVs"].str.contains("75")]

In [71]:
Buton50

Empty DataFrame
Columns: [TVs, Price]
Index: []

In [72]:
Buton50['Price'].mean()

nan

In [73]:
Buton50['Price'].min()

nan

In [74]:
Buton50['Price'].max()

nan

In [22]:
Gama = pd.read_csv("Gama TVs.csv")

In [23]:
Gama['Price'] = Gama['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [75]:
Gama50 = Gama[Gama["TVs"].str.contains("75")]

In [76]:
Gama50

                       TVs   Price
20   Samsung QE75Q60RATXXH  2299.0
21   Samsung QE75Q70RATXXH  3099.0
33  Samsung UE75RU7172UXXH  1359.0

In [77]:
Gama50['Price'].mean()

2252.3333333333335

In [78]:
Gama50['Price'].min()

1359.0

In [79]:
Gama50['Price'].max()

3099.0

In [30]:
Gjirafa = pd.read_csv("Gjirafa TVs.csv")

In [31]:
Gjirafa['Price'] = Gjirafa['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [80]:
Gjirafa50 = Gjirafa[Gjirafa["TVs"].str.contains("75")]

In [81]:
Gjirafa50

                                                  TVs    Price
24                 Televizor Sony KD-75XG8096 - 189cm  1486.28
33               Televizor LG 75UN8500 - 75” (190 cm)  1289.76
35  Televizor Samsung QE75Q95T, 75" (189cm), 4K UH...  3584.16
39  Televizor Panasonic TX-75HX940E, 75" (189cm), ...  2322.72
40  Televizor Sony KD-75XG9505 - 75" (189cm), 4K U...  2632.50

In [82]:
Gjirafa50.Price.mean()

2263.084

In [83]:
Gjirafa50.Price.min()

1289.76

In [84]:
Gjirafa50.Price.max()

3584.16

In [38]:
Gorenje = pd.read_csv("Gorenje TVs.csv")

In [39]:
Gorenje['Price'] = Gorenje['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [85]:
Gorenje50 = Gorenje[Gorenje["TVs"].str.contains("75")]

In [86]:
Gorenje50

                                         TVs  Price
8       50" H50A7500F Brilliant Smart UHD TV  399.9
10            55" 55A7500F Smart 4K Ultra HD  639.9
13  55" H55B7500 Brilliant Smart 4K Ultra HD  529.9
18             65'' H65A7500F Smart UHD TV G  949.9

In [42]:
Gorenje50.Price.mean()

913.2333333333335

In [43]:
Gorenje50.Price.min()

589.9

In [44]:
Gorenje50.Price.max()

1199.9

In [48]:
Interplast = pd.read_csv("Interplast TVs.csv")

In [49]:
Interplast['Price'] = Interplast['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [87]:
Interplast40 = Interplast[Interplast["TVs"].str.contains("75")]

In [88]:
Interplast40

                        TVs   Price
7  UE75TU7072 – 4K SMART TV  999.99

In [89]:
Interplast40.Price.mean()

999.99

In [90]:
Interplast40.Price.min()

999.99

In [91]:
Interplast40.Price.max()

999.99

In [55]:
Neptun = pd.read_csv("Neptun TVs.csv")

In [92]:
Neptun40 = Neptun[Neptun["TVs"].str.contains("75")]

In [94]:
Neptun40 = Neptun40.drop([46, 95, 102])

In [95]:
Neptun40.Price.mean()

1874.5555555555557

In [96]:
Neptun40.Price.min()

1079

In [97]:
Neptun40.Price.max()

2999