In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [185]:
Aztech = pd.read_csv("Aztech TVs.csv")

In [186]:
Aztech['Price'] = Aztech['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [315]:
Aztech50 = Aztech[Aztech["TVs"].str.contains("55|56|57|58|59|60")]

In [316]:
Aztech50 = Aztech50.drop([6, 8, 18, 19, 21, 22, 23, 29, 42, 50, 69, 79])

In [317]:
Aztech50['Price'].mean()

601.0999999999999

In [318]:
Aztech50['Price'].min()

349.0

In [319]:
Aztech50['Price'].max()

899.0

In [256]:
Buton = pd.read_csv("Buton TVs.csv")

In [257]:
Buton['Price'] = Buton['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [320]:
Buton50 = Buton[Buton["TVs"].str.contains("55|56|57|58|59|60")]

In [322]:
Buton50 = Buton50.drop([0, 6, 7, 10, 13])

In [323]:
Buton50['Price'].mean()

474.8333333333333

In [324]:
Buton50['Price'].min()

369.0

In [325]:
Buton50['Price'].max()

799.0

In [139]:
Gama = pd.read_csv("Gama TVs.csv")

In [140]:
Gama['Price'] = Gama['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [327]:
Gama50 = Gama[Gama["TVs"].str.contains("55|56|57|58|59|60")]

In [329]:
Gama50 = Gama50.drop([10, 20])

In [330]:
Gama50['Price'].mean()

975.3636363636364

In [331]:
Gama50['Price'].min()

389.0

In [332]:
Gama50['Price'].max()

2099.0

In [145]:
Gjirafa = pd.read_csv("Gjirafa TVs.csv")

In [146]:
Gjirafa['Price'] = Gjirafa['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [333]:
Gjirafa50 = Gjirafa[Gjirafa["TVs"].str.contains("55|56|57|58|59|60")]

In [335]:
Gjirafa50 = Gjirafa50.drop([10, 12, 34, 38, 47])

In [336]:
Gjirafa50.Price.mean()

1474.024285714286

In [337]:
Gjirafa50.Price.min()

449.5

In [338]:
Gjirafa50.Price.max()

2733.6

In [165]:
Gorenje = pd.read_csv("Gorenje TVs.csv")

In [166]:
Gorenje['Price'] = Gorenje['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [339]:
Gorenje50 = Gorenje[Gorenje["TVs"].str.contains("55|56|57|58|59|60")]

In [340]:
Gorenje50

                                         TVs  Price
10            55" 55A7500F Smart 4K Ultra HD  639.9
11              55" 55U7QF ULED Smart UHD TV  699.9
12            55" H55B7100 Smart 4K Ultra HD  379.9
13  55" H55B7500 Brilliant Smart 4K Ultra HD  529.9
14              55" H55U7B ULED Smart 4K UHD  649.9
15               55A7300F 55" Smart UHD TV G  599.9
16        58" 58A7100F Smart LED 4K Ultra HD  599.9

In [341]:
Gorenje50.Price.mean()

585.6142857142858

In [342]:
Gorenje50.Price.min()

379.9

In [343]:
Gorenje50.Price.max()

699.9

In [190]:
Interplast = pd.read_csv("Interplast TVs.csv")

In [191]:
Interplast['Price'] = Interplast['Price'].replace({'\€': '', ',': ''}, regex=True).astype(float)

In [344]:
Interplast40 = Interplast[Interplast["TVs"].str.contains("55|56|57|58|59|60")]

In [346]:
Interplast40 = Interplast40.drop([0, 5, 11, 12, 13])

In [347]:
Interplast40.Price.mean()

581.1162499999999

In [348]:
Interplast40.Price.min()

399.99

In [349]:
Interplast40.Price.max()

949.99

In [178]:
Neptun = pd.read_csv("Neptun TVs.csv")

In [350]:
Neptun40 = Neptun[Neptun["TVs"].str.contains("55|56|57|58|59|60")]

In [352]:
Neptun40 = Neptun40.drop([0, 2, 98, 106])

In [360]:
Neptun40

                        TVs    Price
12       FUEGO 55ELU610ANDT  349.000
27       GRUNDIG 55GEU7900W  399.000
28       GRUNDIG 55GEU7900B  399.000
31       GRUNDIG 55GEU8900B  439.000
32           LG 55UN70003LA  459.000
33   SAMSUNG UE55TU7022KXXH  479.000
34   SAMSUNG UE55TU7092UXXH  589.000
35           LG 55UN71003LB  469.000
37   SAMSUNG UE55TU7102KXXH  629.000
38   SAMSUNG UE55TU8072UXXH  549.000
39           LG 55UN73003LA  519.000
43           LG 55UN74003LB  679.000
44   SAMSUNG UE55RU7372UXXH  569.000
47           LG 55UN80003LA  699.000
49           LG 60UN71003LB  549.000
50           LG 60UM7100PLB  549.000
52   SAMSUNG UE55RU7452UXXH  649.000
54           LG 55SM8500PLA  679.000
56   SAMSUNG UE55TU8502UXXH  649.000
61           LG 55SM8050PLC  699.000
62           LG 55NANO793NE  699.000
65      SONY KD55XH8077SAEP  749.000
66      SONY KD55XH8096BAEP  699.000
69           LG 55NANO813NA  819.000
76      SONY KD55XF9005BAEP  949.000
77           LG 55NANO863NA  949.000
78      SONY KD55XH9096BAEP  899.000
79      SONY KD55XH9077SAEP    1.149
87      SONY KD55XH9505BAEP    1.399
94    SAMSUNG QE55Q60TAUXXH  799.000
95    SAMSUNG QE55Q75TATXXH  919.000
96    SAMSUNG QE58Q60TAUXXH  899.000
97    SAMSUNG QE55Q70TATXXH  919.000
100              LG 55C9PLA    1.399
101              LG 55BX3LB    1.299
103              LG 55CX3LA    1.499
104   SAMSUNG QE55Q90RATXXH    1.499
105         SONY KD55A8BAEP    1.699

In [358]:
Neptun40.Price.mean()

534.4458684210528

In [359]:
Neptun40.Price.min()

1.149

In [356]:
Neptun40.Price.max()

949.0